<div class="card ticket-status">
  <div class="row">
    <span class="label">Total</span>
    <span class="value">{{ boletos.total }}</span>
  </div>

  <div class="status-row">
    <div class="status-item available">
      <div class="icon"></div>
      <span>Disponibles</span>
      <span class="count">{{ boletos.disponibles }}</span>
    </div>

    <div class="status-item reserved">
      <div class="icon"></div>
      <span>Apartados</span>
      <span class="count">{{ boletos.apartados }}</span>
    </div>

    <div class="status-item sold">
      <div class="icon"></div>
      <span>Vendidos</span>
      <span class="count">{{ boletos.vendidos }}</span>
    </div>
  </div>
</div>
