<app-menu-settings *ngIf="menuAbierto" (cerrar)="toggleMenu()"></app-menu-settings>

  <app-total-raffles 
    [total]="sorteos.length"
    (selectSorteo)="abrirSelectorDeSorteo()">
  </app-total-raffles>


  <!-- 🔁 Dashboard por cada sorteo con acordeón -->
<div class="dashboard-container" *ngFor="let sorteo of sorteos; let i = index">
  <button class="sorteo-header" (click)="toggleSorteo(i)">
    Sorteo #{{ i + 1 }}
    <span>{{ sorteosVisibles[i] ? '▲' : '▼' }}</span>
  </button>

  <div *ngIf="sorteosVisibles[i]" class="sorteo-content">
    <app-ticket-status [boletos]="sorteo.boletos"   (estadoSeleccionado)="filtrarYRedirigir(sorteo.id, $event)">
></app-ticket-status>

    <app-total-revenue 
      [recaudado]="sorteo.recaudado" 
      [porRecaudar]="sorteo.porRecaudar">
    </app-total-revenue>

    <div class="top-wrapper">
      <app-top-buyers [buyers]="sorteo.topBuyers"></app-top-buyers>
      <app-top-sellers [sellers]="sorteo.topSellers"></app-top-sellers>
    </div>

    <app-sales-progress [progress]="sorteo.progresoVentas"></app-sales-progress>
  </div>

</div>
    <app-next-raffle [deadline]="proximoSorteo" style="  padding: 1rem;
  "></app-next-raffle>

  <app-recent-activity [notificaciones]="[]"></app-recent-activity>



<!-- Modal de selector -->
<app-sorteo-selector
  *ngIf="mostrarSelector"
  [sorteos]="sorteos"
  (selected)="onSorteoSeleccionado($event)"
  (closed)="cerrarModal()">
</app-sorteo-selector>

<app-menu-bottom 
  (abrirModalSorteos)="abrirSelectorDeSorteo()" 
  (abrirMenuConfig)="toggleMenu()">
</app-menu-bottom>
