<app-menu-settings *ngIf="menuAbierto" (cerrar)="toggleMenu()"></app-menu-settings>

<app-total-raffles style="margin: 10px; margin: 2rem 1rem;" 
  [total]="sorteos.length"
  (selectSorteo)="abrirSelectorDeSorteo()">
</app-total-raffles>

<!-- Dashboard por cada sorteo con acordeón -->
<div class="dashboard-container" *ngFor="let sorteo of sorteos; let i = index">
  <button class="sorteo-header" (click)="toggleSorteo(i)">
    Sorteo #{{ i + 1 }}
    <span>{{ sorteosVisibles[i] ? '▲' : '▼' }}</span>
  </button>

  <div *ngIf="sorteosVisibles[i]" class="sorteo-content">
<app-ticket-status [boletos]="sorteo.boletos"></app-ticket-status>

    <app-total-revenue 
      [recaudado]="0" 
      [porRecaudar]="0">
    </app-total-revenue>

    <div class="top-wrapper">
      <app-top-buyers [buyers]="[]"></app-top-buyers>
      <app-top-sellers [sellers]="[]"></app-top-sellers>
    </div>

    <app-sales-progress [progress]="sorteo.progresoVentas"></app-sales-progress>
    <app-next-raffle [deadline]="proximoSorteo"></app-next-raffle>
  </div>
</div>


<app-recent-activity [notificaciones]="[]"></app-recent-activity>

<app-sorteo-selector
  *ngIf="mostrarSelector"
  [sorteos]="sorteos"
  (selected)="onSorteoSeleccionado($event)"
  (closed)="cerrarModal()">
</app-sorteo-selector>

<app-menu-bottom 
  (abrirModalSorteos)="abrirSelectorDeSorteo()" 
  (abrirMenuConfig)="toggleMenu()">
</app-menu-bottom>



