<div class="dashboard-container">



 <div class="header">
  <div class="top-row">
    <div class="user">
      <i class="fa-solid fa-user-circle"></i>
      Michi666
    </div>
    <button class="icon-btn">
      <i class="fa fa-cog"></i>
    </button>
  </div>
  <div class="bottom-row">
    <img src="assets/logo-rifa.png" alt="Logo" class="logo" />
    <h2>Rifa #01</h2>
    <button class="icon-btn">
      <i class="fa fa-file-alt"></i> <!-- Icono de reportes -->
    </button>
  </div>
</div>


<div class="stats">
  <div class="stat">
    <span class="dot libres"></span>
    <div class="label">LIBRES</div>
  <div class="value">{{ libres }}</div>
  </div>
  <div class="stat">
    <span class="dot pagados"></span>
    <div class="label">PAGADOS</div>
  <div class="value">{{ pagados }}</div>
  </div>
  <div class="stat">
    <span class="dot apartados"></span>
    <div class="label">APARTADOS</div>
  <div class="value">{{ apartados }}</div>
  </div>
</div>




<div class="search-container">
  <i class="fa fa-search"></i>
<input
  type="text"
  placeholder="Buscar por teléfono"
  [(ngModel)]="telefonoIngresado"
  (ngModelChange)="onTelefonoChange(telefonoIngresado)"
/>

  <i class="fa fa-filter"></i>
</div>

<div class="actions" *ngIf="mostrarResultados">
  <button class="btn green">
    <i class="fa-brands fa-whatsapp"></i>
    <span>ENVIAR INFO</span>
  </button>
  <button class="btn blue">
    <i class="fa-solid fa-ticket-simple"></i>
    <span>Pasar a apartar</span>
  </button>
  <button class="btn white">
    <i class="fa-regular fa-file"></i>
    <span>Liberar</span>
  </button>
</div>



<div class="tickets" *ngIf="boletosEncontrados.length > 0 && numeroBuscado?.length ==10"
>
  <ng-container *ngFor="let estado of estadosDisponibles">
    <ng-container *ngIf="filtrarPorEstado(estado).length > 0">
      <h3 class="titulo-estado">{{ estado | titlecase }}</h3>

      <div class="tickets-grid">
        <app-boleto-item
          *ngFor="let boleto of filtrarPorEstado(estado)"
          [numero]="boleto.numero"
          [estado]="boleto.estado"
          [pequeno]="true"
          [mostrarCerrar]="false"
          (toggle)="onToggleBoleto(boleto)"
        ></app-boleto-item>
      </div>
    </ng-container>
  </ng-container>
</div>


</div>
<div *ngIf="boletosEncontrados.length > 0" class="resultados">
  <h3>Boletos del comprador:</h3>
  <ul>
    <li *ngFor="let b of boletosEncontrados">
      Boleto #{{ b.numero }} - Estado: {{ b.estado }}
    </li>
  </ul>
</div>
<app-menu-bottom></app-menu-bottom>
